.navbarContainer {
  width: 100%;
  height: auto;
}
.topNav {
  background: var(--color-1e58b4s);
}
.topNav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
.topNav ul li {
  color: var(--color-c0daf9);
  padding: 10px 25px;
}
.helplineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.helplineContainer img {
  width: 70px;
  height: auto;
}
.authNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.topNav ul li a:hover {
  color: var(--white);
  transition: 0.8s;
}
.topNav ul li:hover {
  background: #13479b;
  transition: 0.8s;
}

/* main nav */
.mainNav {
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 2px 6px #0000002a;
  padding: 0 30px;
}
.mainMenuWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.mainLogo {
  width: 220px;
  height: auto;
  padding: 5px 0;
}
.menuLinks {
  display: flex;
  align-items: center;
  gap: 35px;
}
.menuLinks a {
  padding: 30px 0;
  color: #333233;
}
.menuLinks a:hover {
  color: var(--color-1e58b4s);
}
.cartCountWrapper {
  position: relative;
  padding: 0 !important;
}
.cartCount {
  width: 22px;
  height: 22px;
  background: var(--color-c0daf9);
  border-radius: 20px;
  color: var(--color-1e58b4s);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
}
.ddWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  padding: 30px 0;
  position: relative;
}
.manageServiceText {
  color: #333233;
}
.ddWrapper:hover .manageServiceText {
  color: var(--color-1e58b4s);
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0px 5px 10px #0000000e;
  width: 200px;
  background: var(--white);
  transition: 0.5s;
}
.dropdown a {
  display: inline-block;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid var(--black);
}
.dropdown a:hover {
  background: var(--color-1e58b4s);
  color: var(--white);
  width: 100%;
  transition: 0.5s;
}

@media screen and (max-width: 999px) {
  .menuLinks {
    display: none;
  }
}
