.navbarContainer {
  width: 100%;
  height: auto;
  padding: 0 !important;
}
.topNav {
  background: var(--color-1e58b4);
}
.topNav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
.topNav ul li {
  color: var(--color-c0daf9) !important;
  padding: 10px 25px !important;
}
.helplineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.helplineContainer img {
  width: 70px;
  height: auto;
}
.authNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.topNav ul li a:hover {
  color: var(--color-ffffff);
  transition: 0.8s;
}
.topNav ul li:hover {
  background: #13479b;
  transition: 0.8s;
}

/* main nav */
.mainNav {
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 2px 6px #0000002a;
  padding: 0 30px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.mainMenuWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.mainLogo {
  width: 220px;
  height: auto;
  padding: 5px 0;
}
.menuLinks {
  display: flex;
  align-items: center;
  gap: 35px;
}
.menuLinks a {
  padding: 30px 0;
  color: var(--color-333233);
}
.menuLinks a:hover {
  color: var(--color-1e58b4);
}
.cartCountWrapper {
  position: relative;
  padding: 0 !important;
}
.cartCount {
  width: 22px;
  height: 22px;
  background: var(--color-c0daf9);
  border-radius: 20px;
  color: var(--color-1e58b4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
}

/* hamburger */
.hamburgerMenu {
  background: var(--color-bcdaf9);
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
.menuIcon {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 22px;
  height: 2px;
  display: block;
  background: var(--color-1e58b4);
  border-radius: 10px;
  transition: 0.5s;
}
.menuIcon::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 16px;
  height: 2px;
  display: block;
  background: var(--color-1e58b4);
  border-radius: 10px;
  transition: 0.5s;
}
.menuIcon::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 2px;
  display: block;
  background: var(--color-1e58b4);
  border-radius: 10px;
  transition: 0.5s;
}
.fixedNav {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 999px) {
  .menuLinks {
    display: none;
  }
  .hamburgerMenu {
    display: block;
    cursor: pointer;
  }
  .hideLink {
    display: none;
  }
  .hamburgerMenu:hover .menuIcon {
    width: 16px;
    transition: 0.5s;
    background: var(--black);
  }
  .hamburgerMenu:hover .menuIcon::before,
  .hamburgerMenu:hover .menuIcon::after {
    width: 22px;
    transition: 0.5s;
    background: var(--black);
  }
}
@media screen and (max-width: 678px) {
  .topNav ul li {
    padding: 5px 10px;
  }
  .topNav ul li a {
    font-size: 14px;
  }
  .topNav ul li svg {
    width: 12px;
  }
  .mainNav {
    padding: 5px 15px;
  }
  .mainLogo {
    width: 140px;
  }
}
