@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap");

:root {
  --color-1e58b4: #1e58b4;
  --color-bcdaf9: #bcdaf9;
  --color-f4f9ff: #f4f9ff;
  --color-c0daf9: #c0daf9;
  --color-cfe4fa: #cfe4fa;
  --color-333233: #333233;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  font-family: "Baloo Bhai 2", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.mainContainer {
  max-width: 1390px;
  margin: 0 auto;
  width: 100%;
}
