.testimonialQuoteIcon {
  position: absolute;
  left: 15px;
  top: 15px;
}
.navigationBtn {
  background: none;
  border: none;
  outline: none;
}
@media screen and (max-width: 768px) {
  .navigationBtnWrapper {
    display: none !important;
  }
  .testimonialQuoteIcon {
    display: none;
  }
}
