.CheckIcon {
  color: #005abb;
  transition: color 0.5s ease-out;
}

:global(.workspace-plan-box:hover) .CheckIcon {
  color: #ffffff;
}
.BannerImg img{
  width: 100% !important;
  height: auto !important;
  object-fit: contain !important;
  object-position: center !important;
  border-radius: 0 !important;
}